## Revisão de Series para Pandas

In [44]:
import pandas as pd
import os


**Criando uma series a partir de duas listas** 
- Uma para valores 
- Outra para indices

In [45]:
lpessoas= [
    'tita',
    'ludo',
    'yuki',
    'zeus',
    'matt',
    'deby',
    'dave',
    'babi',
    'lulu'
]


lprof= [
    'medico',
    'professor',
    'advogado',
    'filosofo',
    'professor',
    'medico',
    'dentista',
    'professor',
    'fisioterapeuta'
]


lidades= [45,30,67,37,26,58,43,38,29]

------------

## Parte 1

In [46]:
srProfissoes= pd.Series(lprof,index = lpessoas)

print('\n Series:')
print("Mesmo tamanho? ", len(lpessoas) == len(lprof))

srProfissoes

 Series:
Mesmo tamanho?  True

tita            medico
ludo         professor
yuki          advogado
zeus          filosofo
matt         professor
deby            medico
dave          dentista
babi         professor
lulu    fisioterapeuta
dtype: object

In [47]:
# Exiba o indice =>  .index
print('\n Indice:')
print(srProfissoes.index)

 Indice:
Index(['tita', 'ludo', 'yuki', 'zeus', 'matt', 'deby', 'dave', 'babi', 'lulu'], dtype='object')

In [48]:
# Exiba os valores =>  .values
print('\n Valores:')
print(srProfissoes.values)

 Valores:
['medico' 'professor' 'advogado' 'filosofo' 'professor' 'medico'
 'dentista' 'professor' 'fisioterapeuta']

In [49]:
# Exiba numero de elementos (tamanho) =>  .size
print('\n Tamanho:')
print(srProfissoes.size)

 Tamanho:
9

In [50]:
# Profissao de um individuo => .loc[indice]
print('\n Profissao do matt:')
print(srProfissoes.loc['matt'])

print('\nLista so com o matt')
print(srProfissoes.loc[['matt']])

 Profissao do matt:
professor

Lista so com o matt
matt    professor
dtype: object

In [51]:
# Profissoes de varios individuos => .loc[[lista de indices]]
print('\n Profissoes do yuki, deby e babi :')
print(srProfissoes.loc[['yuki','deby', 'babi']])

 Profissoes do yuki, deby e babi :
yuki     advogado
deby       medico
babi    professor
dtype: object

In [52]:
# Profissoes dos 3 primeiros da series => .head()
print('\n Profissoes dos 3 primeiros:')
print(srProfissoes.head(3))

 Profissoes dos 3 primeiros:
tita       medico
ludo    professor
yuki     advogado
dtype: object

In [53]:
# Profissoes dos 6 ultimos da series => .tail()
print('\n Profissoes dos 6 ultimos:')
print(srProfissoes.tail(6))

 Profissoes dos 6 ultimos:
zeus          filosofo
matt         professor
deby            medico
dave          dentista
babi         professor
lulu    fisioterapeuta
dtype: object

In [54]:
# Alterar a profissao da lulu para 'chef' => .loc[] = ...
# Exibir a profissao da lulu antes e depois da alteracao
print('\n Alterando lulu')
print('Antes:',srProfissoes.loc['lulu'] )
srProfissoes.loc['lulu']= 'chef'
print('Antes:',srProfissoes.loc['lulu'] )

 Alterando lulu
Antes: fisioterapeuta
Antes: chef

In [55]:
#Incluir um novo elemento: ruan, medico => .loc[] = ...
#Exibir a series depois da inclusao, assim como o seu tamanho
print('\n Incluindo ruan')
srProfissoes.loc['ruan']= 'medico'
print(srProfissoes)
print('TAM:', srProfissoes.size)

 Incluindo ruan
tita       medico
ludo    professor
yuki     advogado
zeus     filosofo
matt    professor
deby       medico
dave     dentista
babi    professor
lulu         chef
ruan       medico
dtype: object
TAM: 10

In [56]:
#Apenas exibir a series SEM  yuki, dave => .drop([lista de indices])
print('\n Sem yuki, dave')
print(srProfissoes.drop([ 'yuki', 'dave'])) # COPIA DA SERIES

 Sem yuki, dave
tita       medico
ludo    professor
zeus     filosofo
matt    professor
deby       medico
babi    professor
lulu         chef
ruan       medico
dtype: object

In [57]:
#Exibir a series srProfissoes 
print('\n Series:')
print(srProfissoes)

 Series:
tita       medico
ludo    professor
yuki     advogado
zeus     filosofo
matt    professor
deby       medico
dave     dentista
babi    professor
lulu         chef
ruan       medico
dtype: object

In [58]:
#Eliminar da srProfissoes yuki e lulu => .drop([lista de indices], inplace=True)
#Obs: inplace=True altera na própria series
srProfissoes.drop([ 'yuki', 'lulu'], inplace=True)

In [59]:
#Exibir a series srProfissoes atualizada  e o tamanho
print('\n Series atualizada:')
print(srProfissoes)
print('TAM:', srProfissoes.size)

 Series atualizada:
tita       medico
ludo    professor
zeus     filosofo
matt    professor
deby       medico
dave     dentista
babi    professor
ruan       medico
dtype: object
TAM: 8

In [60]:
#Apenas exibir a series  srProfissoes ordenada por profissao (valores) => .sort_values()
print('\n Exibicao da Series ordenada por profissao:')
print(srProfissoes.sort_values())

 Exibicao da Series ordenada por profissao:
dave     dentista
zeus     filosofo
tita       medico
deby       medico
ruan       medico
ludo    professor
matt    professor
babi    professor
dtype: object

In [61]:
#Ordenar a series pelo nome das pessoas => .sort_index(inplace=True)
#Depois exibir a series alterada
print('\n Series srProfissoes alterada (ordenada por indice) :' )
srProfissoes.sort_index(inplace=True)
print(srProfissoes)

 Series srProfissoes alterada (ordenada por indice) :
babi    professor
dave     dentista
deby       medico
ludo    professor
matt    professor
ruan       medico
tita       medico
zeus     filosofo
dtype: object

-----------------

## Parte 2

A partir das listas ```lpessoas``` e ```lidades``` crie a series ```srIdades``` em os valores devem ser as idades e os indices os nomes das pessoas

**Exiba devidamente identificados:**

- a series
- os indices
- os valores
- a idade da tita
- os 3 ultimos elementos
- os 7 primeiros elementos da series, ordenados pela idade (nao alterar a series)
- os 3 primeiros mais novos
- a series original sem a babi (nao alterar)

In [64]:

srIdades = pd.Series(lidades, index=lpessoas)

print('Series: ')
srIdades

Series:

tita    45
ludo    30
yuki    67
zeus    37
matt    26
deby    58
dave    43
babi    38
lulu    29
dtype: int64

In [66]:
print("Index: ")
srIdades.index

Index:

Index(['tita', 'ludo', 'yuki', 'zeus', 'matt', 'deby', 'dave', 'babi', 'lulu'], dtype='object')

In [67]:
print("Values: ")
srIdades.values

Values:

array([45, 30, 67, 37, 26, 58, 43, 38, 29], dtype=int64)

In [69]:
print('Idade de tita: ')
srIdades.loc['tita']

Idade de tita:

45

In [70]:
print('Tres ultimos elementos: ')
srIdades.tail(3)

Tres ultimos elementos:

dave    43
babi    38
lulu    29
dtype: int64

In [73]:
print('os 7 primeiros elementos da series, ordenados pela idade (nao alterar a series)')
srIdades.head(7).sort_values()

os 7 primeiros elementos da series, ordenados pela idade (nao alterar a series)

matt    26
ludo    30
zeus    37
dave    43
tita    45
deby    58
yuki    67
dtype: int64

In [74]:
print('Os 3 primeiros mais novos: ')
srIdades.sort_values().head(3)

Os 3 primeiros mais novos:

matt    26
lulu    29
ludo    30
dtype: int64

In [76]:
print('Series sem babi')

srIdades.drop('babi')

Series sem babi

tita    45
ludo    30
yuki    67
zeus    37
matt    26
deby    58
dave    43
lulu    29
dtype: int64

--------------

## Parte 3

**Trabalhando com uma series criada a partir de um arquivo excel:**
- arquivo comprasabril.xlsx: com as compras feitas pelos clientes 
- em uma determinada loja no mes de abril
- O arquivo deve estar na mesma pasta que o .py
- Coluna 0 servira de indice (index_col=0)
- O arquivo tem linha de cabecalho (header=0)

In [80]:
srClientes = pd.read_excel('../db/comprasabril.xlsx', index_col=0, header=0).squeeze('columns')

srClientes

CLIENTE
emma    250.60
nena    120.40
pepe     45.00
vava     65.00
emma     22.00
dudu     43.65
kadu    188.00
zizi     98.00
nena     54.00
emma     66.00
pepe     88.00
tati       NaN
tati    127.00
dede    275.00
vava    112.00
emma    172.00
pepe     55.00
tati     69.00
kuka       NaN
Name: COMPRA, dtype: float64

In [81]:
print("Index: ")
srClientes.index

Index:

Index(['emma', 'nena', 'pepe', 'vava', 'emma', 'dudu', 'kadu', 'zizi', 'nena',
       'emma', 'pepe', 'tati', 'tati', 'dede', 'vava', 'emma', 'pepe', 'tati',
       'kuka'],
      dtype='object', name='CLIENTE')

In [82]:
print('Values: ')
srClientes.values

Values:

array([250.6 , 120.4 ,  45.  ,  65.  ,  22.  ,  43.65, 188.  ,  98.  ,
        54.  ,  66.  ,  88.  ,    nan, 127.  , 275.  , 112.  , 172.  ,
        55.  ,  69.  ,    nan])

In [83]:
print('Compras da emma: ')
srClientes.loc['emma']

Compras da emma:

CLIENTE
emma    250.6
emma     22.0
emma     66.0
emma    172.0
Name: COMPRA, dtype: float64

In [85]:
print('Compras da vava e nena: ')
srClientes.loc[['vava', 'nena']]

Compras da vava e nena:

CLIENTE
vava     65.0
vava    112.0
nena    120.4
nena     54.0
Name: COMPRA, dtype: float64

In [86]:
print('Series sem NaN: ')
srClientes.dropna()

Series sem NaN:

CLIENTE
emma    250.60
nena    120.40
pepe     45.00
vava     65.00
emma     22.00
dudu     43.65
kadu    188.00
zizi     98.00
nena     54.00
emma     66.00
pepe     88.00
tati    127.00
dede    275.00
vava    112.00
emma    172.00
pepe     55.00
tati     69.00
Name: COMPRA, dtype: float64

In [90]:
print('Series ordenada: ')

srClientes = srClientes.sort_values()
srClientes

Series ordenada:

CLIENTE
emma     22.00
dudu     43.65
pepe     45.00
nena     54.00
pepe     55.00
vava     65.00
emma     66.00
tati     69.00
pepe     88.00
zizi     98.00
vava    112.00
nena    120.40
tati    127.00
emma    172.00
kadu    188.00
emma    250.60
dede    275.00
tati       NaN
kuka       NaN
Name: COMPRA, dtype: float64

In [94]:
print('Pessoas com compras mais caras: ')

srClientes.tail(10).index

Pessoas com compras mais caras:

Index(['zizi', 'vava', 'nena', 'tati', 'emma', 'kadu', 'emma', 'dede', 'tati',
       'kuka'],
      dtype='object', name='CLIENTE')